Source: omnitux
Section: python
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders:Luis Antonio Garcia Gisbert <garcia_luigis@gva.es>, Angel Berlanas Vicente <lliurex_devel2@edu.gva.es>, Javier Garcia Escribano <garcia_javesc@gva.es>, Maria Teresa Llorca Llaser <llorca_mte@gva.es>, Raul Rodrigo Segura <lliurex_devel3@edu.gva.es>, Alfons Lloret Sananton <lliurex_devel5@edu.gva.es>, Enrique Medina Gremaldos <lliurex_devel4@edu.gva.es>, David Montalva Furio <dmontalf@gmail.com>, Hector Garcia Huerta <lliurex_devel1@edu.gva.es>
Build-Depends: llxsrchelper,debhelper (>= 7), quilt
Homepage: http://omnitux.sourceforge.net/
Standards-Version: 3.8.4

Package: omnitux
Architecture: all
Depends: ${shlibs:Depends}, python-pygame (>=1.7), python-gtk2 (>=2.8)
Description: Educational activities based on multimedia elements.
 Types of activities:associations, items to place on a map or a schema,
 counting activities, puzzles, card faces to remember, find differences 
 between two pictures, ...
