Source: omnitux
Section: python
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: M.Angel Juan <m.angel.juan@gmail.com>, Raul Rodrigo Segura <lliurex_devel3@edu.gva.es>, Hector Garcia Huerta <lliurex_devel1@edu.gva.es>, Daniel Duran Vecino <daduve@gmail.com>, Juanma Navarro <juanma1980@gmail.com>, Juan Ramon Pelegrina <juapesai@hotmail.com>
Build-Depends: llxsrchelper,debhelper (>= 7), quilt
Homepage: http://omnitux.sourceforge.net/
Standards-Version: 3.9.5

Package: omnitux
Architecture: all
Depends: ${shlibs:Depends}, python-pygame (>=1.7), python-gtk2 (>=2.8)
Description: Educational activities based on multimedia elements.
 Types of activities:associations, items to place on a map or a schema,
 counting activities, puzzles, card faces to remember, find differences 
 between two pictures, ...
